<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appstractor Interface</title>
    <link rel="stylesheet" href="/../css/main.css">
    <link rel="stylesheet" href="/../css/iframe.css">

    <!-- <link rel="stylesheet" href="/../css/iframe_thumbnail.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
    <!-- fixed -->
    <div class="nav-container">
        <nav>
            <a href="/appstractor" class="logo-icon">&nbspA&nbsp</a>
            <a href="/appstractor/render">Render</a>    
            <a href="/appstractor/gallery" class="active">Gallery</a>   
            <a href="#">Sign Out</a>
        </nav>
    </div>
    <!-- relative -->
    <div class="filler nav-container"></div>

        <div class="iframe-container" id="canvas">
            <iframe src="/appstractor/saved"></iframe>
        </div>
        
    </div>
    <div class="filler alt-buttons-container"></div>
    <!-- fixed -->
    <div class="alt-buttons-container">
        <div class="buttons">
            <div class="button" id="download">
                <img src="/../images/download.png" class="button-image">
                <div class="button-text"> Download </div>
            </div>     
            <div class="button" id="delete">
                <img src="/../images/delete.png" class="button-image">
                <div class="button-text"> Delete </div>
            </div>   
        </div>
    </div>
    <!-- absolute bg image -->
    <div class="overlay-color"></div>
    <div class="overlay-image"></div>
  
</body>
</html>