<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appstractor Interface</title>
    <link rel="stylesheet" href="/../css/main.css">
    <link rel="stylesheet" href="/../css/iframe.css">

    <!-- <link rel="stylesheet" href="/../css/iframe_thumbnail.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
    <!-- fixed -->
    <div class="nav-container">
        <nav>
            <a href="/appstractor" class="logo-icon">&nbspA&nbsp</a>
            <a href="/appstractor/render">Render</a>    
            <a href="/appstractor/gallery" class="active">Gallery</a>   
            <a href="#">Sign Out</a>
        </nav>
    </div>
    <!-- relative -->
    <div class="filler nav-container"></div>
            <div class="iframe-container" id="canvas">
                    <div class="left-arrow"> < </div>
                    <div class="right-arrow"> > </div>
                    <!-- faster load -->
                    <img class="iframe-bg" src=<%= data[0].img %> />
                    <!-- backup for non chrome browsers -->
                    <!-- <iframe src="/appstractor/saved_canvas/<%= 0 %>"></iframe> -->
            </div>
        </div>
    </div>
    <div class="filler buttons-container"></div>
    <!-- fixed -->
    <div class="buttons-container">
        <div class="buttons">
            <div class="button" id="edit">
                    <img src="/../images/render.png" class="button-image">
                    <div class="button-text"> Edit </div>
            </div>
            <div class="button" id="download">
                <img src="/../images/download.png" class="button-image">
                <div class="button-text"> Download </div>
            </div>      
            <div class="button" id="delete">
                <img src="/../images/delete.png" class="button-image">
                <div class="button-text"> Delete </div>
            </div>   
        </div>
    </div>
    <!-- absolute bg image -->
    <div class="overlay-color"></div>
    <div class="overlay-image"></div>
    <script>
        //image download function
        const downloadPNG = () => {
            const link = document.createElement('a');
            const fileName =  `appstractor${0}.png`;
            $(link).attr('download', fileName);
            $(link).attr('href',`/../saved/${fileName}`);
            link.click(); 
        }
        //html download function 
        //re write to unest 
        const downloadHTML = () => {
            function downloadInnerHtml(filename, elId, mimeType) {
            const elHtml = $(elId).contents().find('html').html();
            const link = document.createElement('a');
            mimeType = mimeType || 'text/plain';
                $(link).attr('download', filename);
                $(link).attr('href', 'data:' + mimeType + ';charset=utf-8,' + encodeURIComponent(elHtml));
                link.click(); 
            }
            const fileName =  `appstractor${0}.html`; // You can use the .txt extension if you want
            downloadInnerHtml(fileName, 'iframe','text/html');
        }

        //attach download button event listener 
        $('#download').on('click', () => {
            downloadPNG();
            downloadHTML(); 
        });
    
    </script>
</body>
</html>