<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appstractor Interface</title>
    <link rel="stylesheet" href="/../css/main.css">
    <link rel="stylesheet" href="/../css/iframe.css">

    <!-- <link rel="stylesheet" href="/../css/iframe_thumbnail.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<div id="length" style="display: none">
    <%= data.length %>
</div>
<body>
    <!-- fixed -->
    <div class="nav-container">
        <nav>
            <a href="/appstractor" class="logo-icon">&nbspA&nbsp</a>
            <a href="/appstractor/render">Render</a>    
            <a href="/appstractor/gallery" class="active">Gallery</a>   
            <a href="#">Sign Out</a>
        </nav>
    </div>
    <!-- relative -->
    <div class="filler nav-container"></div>
    <div class="iframe-container" id="canvas">
        <div id="left-arrow"> < </div>
        <div id="right-arrow"> > </div>
        <iframe src="/appstractor/saved_canvas/<%= 0 %>"></iframe>
    </div>
    <div class="filler buttons-container"></div>
    <!-- fixed -->
    <div class="buttons-container">
        <div class="buttons">
            <div class="button" id="edit">
                    <img src="/../images/render.png" class="button-image">
                    <div class="button-text"> Edit </div>
            </div>
            <div class="button" id="download">
                <img src="/../images/download.png" class="button-image">
                <div class="button-text"> Download </div>
            </div>  
            <!-- action route reassigned via jQuery within page script -->
            <form action="/appstractor/saved_canvas/0/?_method=DELETE" method="POST" class="button-form">
                <!-- value assigned via jQuery within page script -->
                <input type="text" name="index" class="input-hide">
                <button type="submit" class="button" id="delete">
                    <img src="/../images/delete.png" class="button-image">
                    <div class="button-text"> Delete </div>
                </button>
            </form>   
        </div>
    </div>
    <!-- absolute bg image -->
    <div class="overlay-color"></div>
    <div class="overlay-image"></div>
    <script>
        class Gallery {
            constructor() {
                this.currentIndex = 0
                //transfers data to script
                this.dataLength = $('#length').text();
            }
            initialize = () => {
                this.addEventListeners();
                this.removeDataDiv();
                this.toggleArrows();
            }
            //removes invisible div that transfers data to script
            removeDataDiv = () => {
                $('#length').remove();
            }
            //prevents gallery from surpassing data length
            toggleArrows = () => {
                //no left arrow past index 0
                this.currentIndex === 0 ? 
                    $('#left-arrow').css('display','none') : $('#left-arrow').css('display','');
                //no right arrow past last index
                (this.currentIndex === this.dataLength - 1) || (this.dataLength < 1) ? 
                    $('#right-arrow').css('display','none') : $('#right-arrow').css('display','');
            }
            //prevents fast clicking
            lockArrows = () => {
                $('#left-arrow').css('pointer-events','none');
                $('#right-arrow').css('pointer-events','none');
                setTimeout(()=> {
                    $('#left-arrow').css('pointer-events','auto');
                    $('#right-arrow').css('pointer-events','auto');
                }, 250);
            }
            //prevents blank container on load in
            toggleIframes = (num) => {
                num = num || 0; 
                const $iframe = $('<iframe>').attr('src',`/appstractor/saved_canvas/${this.currentIndex - num}`);
                $iframe.insertAfter($('iframe'));
                //prevents fast clicking for causing population error
                setTimeout(()=> {
                    for(let i = 0; i < $('iframe').length - 1; i++){
                        $('iframe').eq(i).remove()
                    }
                }, 250); 
            }
            //image download function
            downloadPNG = () => {
                const link = document.createElement('a');
                const fileName =  `appstractor${this.currentIndex}.png`;
                $(link).attr('download', fileName);
                $(link).attr('href',`/../saved/${fileName}`);
                link.click(); 
            }
            //html download function 
            downloadHTML = () => {
                const link = document.createElement('a');
                const fileName = `appstractor${this.currentIndex}.html`; 
                const html = $('iframe').contents().find('html').html();
                console.log($('iframe').contents().find('html').html())
                $(link).attr('download', fileName);
                $(link).attr('href', 'data:' + 'text/plain' + ';charset=utf-8,' + encodeURIComponent(html));
                link.click();  
            }
            //syncs delete form with current iframe index
            updateFormAction () {
                $('form').attr('action',`/appstractor/saved_canvas/${this.currentIndex}/?_method=DELETE`)
            }
            updateGallery () {
                this.updateFormAction(); 
                this.lockArrows(); 
                this.toggleIframes();
                this.toggleArrows();
            }
            addEventListeners () {
                $('#left-arrow').on('click', () => {
                    this.currentIndex -= 1;
                    this.updateGallery(); 
                });
                $('#right-arrow').on('click', () => {
                    this.currentIndex += 1;
                    this.updateGallery();
                });
                $('#download').on('click', () => {
                    this.downloadPNG();
                    this.downloadHTML(); 
                });
                $('#delete').on('click', () => {
                    $('input').val(this.currentIndex);
                    this.dataLength > 0 ? this.dataLength -= 1 : null;
                    this.currentIndex === this.dataLength ? this.currentIndex -= 1 : null; 
                    this.updateGallery();                    
                }); 
            }
        }
       const gallery = new Gallery;
       gallery.initialize(); 
       
    //    //gallery keybinding
    //     $(document).keydown(function(e) {
    //         switch(e.which) {
    //             case 37 : {
    //                 gallery.currentIndex !== 0 ? 
    //                     gallery.currentIndex -= 1 : null; 
    //                 gallery.lockArrows(); 
    //                 gallery.toggleIframes();
    //                 gallery.toggleArrows();
    //             }
    //             break;

    //             case 39: {
    //                 (gallery.currentIndex !== gallery.dataLength - 1) || (gallery.dataLength < 1) ?
    //                     gallery.currentIndex += 1 : null; 
    //                 gallery.lockArrows(); 
    //                 gallery.toggleIframes();
    //                 gallery.toggleArrows();
    //             }
    //             break;

    //             default: return; 
    //         }
    //         e.preventDefault();
    //     });
    </script>
</body>
</html>