<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Appstractor Interface</title>
    <link rel="stylesheet" href="/../css/main.css">
    <link rel="stylesheet" href="/../css/iframe.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <!-- fixed -->
    <div class="nav-container">
        <nav>
            <a href="/appstractor" class="logo-icon">&nbspA&nbsp</a>
            <a href="/appstractor/render" class="active">Render</a>    
            <a href="/appstractor/gallery">Gallery</a>    
            <a href="#">Sign Out</a>
        </nav>
    </div>
    <!-- relative -->
    <div class="filler nav-container"></div>
    <div class="iframe-container" id="canvas">
        <iframe src="/appstractor/blank_canvas"></iframe> 
    </div>
    <div class="filler buttons-container"></div>
    <!-- fixed -->
    <div class="buttons-container">
        <div class="buttons">
            <div class="button" id="upload">
                <img src="/../images/upload.png" class="button-image">  
                <div class="button-text"> Upload </div>            </div>   
            <div class="button">
                <img src="/../images/search.png" class="button-image">
                <div class="button-text"> Search </div>            </div>   
            <div class="button" id="render">
                <img src="/../images/render.png" class="button-image">
                <div class="button-text"> Render </div>
            </div>      
            <div class="button" id="detail">
                <img src="/../images/detail.png" class="button-image"> 
                <div class="button-text"> Detail </div>
            </div>   
            <div class="button" id="shadow">
                <img src="/../images/shadow.png" class="button-image">
                <div class="button-text"> Shadow </div>
            </div>  
            <form action="/appstractor/render/new/?_method=PUT" method="POST">
                <input type="text" name="dom">
                <button type="submit" class="button" id="save">
                    <img src="/../images/save.png" class="button-image">
                    <div class="button-text"> Save </div>
                </button>
            </form>
        </div>
    </div>
    <!-- absolute bg image -->
    <div class="overlay-color"></div>
    <div class="overlay-image"></div>
</body>
</html>