
html {
    overflow: hidden;
    overscroll-behavior-x: none; 
    height: 100%; 
    font-family: 'Sigmar One', cursive;
    text-transform: capitalize;
    background-color: rgba(10, 20, 30, 1);
}

body {
    margin: 0;
    min-height: 100%;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
}

.hide {
    animation: hide;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

    @keyframes hide {
        from{opacity: 1}
        to{opacity: 0}
    }

.show {
    animation: show;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

    @keyframes show {
        from{opacity: 0}
        to{opacity: 1}
    }
/* //////////// */
/* game pieces */
/* /////////// */
#ai-container, #card-container, #user-container{
    height: 40vh;
    display: flex;
    width: 90%;
    margin: 0 auto; 
}

#card-container {
    pointer-events: none;
    height: 12vh;
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

    .deck-card {
        opacity: .5;
        max-height:100px; 
        max-width: 67px; 
        width: 5vw;
        position: absolute;
        margin-left: -10%;
        pointer-events: none; 
    } 

        .float {
            animation: float; 
            transform: rotate(-90deg);
            animation-duration: 35s;
            animation-iteration-count: infinite; 
        }

        @keyframes float {
            0%{margin-left: -10%} 
            50%{margin-left: 50%} 
            100%{margin-left: 110%}
        } 

    
#ai-container {
    justify-content: space-evenly;
    /* z-index: 1; */
}

#user-container {
    justify-content: center; 
    /* z-index: 1;  */
}

    .boat {
        opacity: 0;
        width: 33vh; 
        height: 100%; 
        background-size: contain;
        background-position: center; 
        background-repeat: no-repeat; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s; 
        animation-name: sway;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite; 
        pointer-events: none; 
    }

            @keyframes sway {
                from{margin: 0em auto;}
                to{margin: .3em auto;}
            }

        .hand {
            position: absolute;
            align-self: center;
            pointer-events: none;  
            display: flex;
            justify-content: center;
            padding-right: 1.8vw;
            padding-top: .5vw;
        }

            .hand-card{
                max-height:100px; 
                max-width: 67px; 
                transform: rotate(180deg); 
                width: 5vw;
                margin-right: -1.8vw; 
                animation-duration: 40s;
                animation-iteration-count: infinite; 
                border-radius: .5vw; 
                margin-top: .5vw; 
                pointer-events: none;
                z-index: 1; 
            } 
            
            .hand-card:hover {
                margin-top: 0px; 
                margin-bottom: .5vw;  
                box-shadow: 0 0 2vw .5vw rgba(0,0,0,.5);                
                z-index: 2; 
            }

/* /////// */
/* scores */
/* ////// */
#ai-score-container, #user-score-container {
    align-self: center; 
    position: absolute;
    width: 90%;
    display:flex;
    justify-content: space-evenly;
    top: 0; 
    padding: 4vh 0; 
    pointer-events: none;
    opacity: 0;
    z-index: 2;
    box-sizing: border-box;
}

#user-score-container {
    height: 100vh; 
    top: 0; 
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

    .score {
        position: relative;
        align-self: center; 
        pointer-events: none;
        text-shadow: -1px 1px 1px rgba(0,0,0,.5);
        color: rgba(255, 255, 255, 0.9);
        font-size: 1.6vw; 
        text-align: center;
        box-sizing: border-box;
        margin: 0 auto; 
        display: flex;
        justify-content: center;
        background-image: linear-gradient(to right, rgba(10, 20, 30, 0.7), rgba(20, 40, 50,.7), rgba(10, 20, 30, 0.7));
        border: .25vw solid rgb(20, 40, 50); 
        box-shadow: 0 20px 20px rgba(0,0,0,.4);
        padding: .4vw .8vw;
    }

/* ////// */
/* prompt */
/* ////// */
#prompt-container{
        opacity: 0; 
        height: 100vh;
        position: absolute; 
        display: flex;
        justify-content: center;
        width: 100%;
        pointer-events: none; 
        transition: 1s;
        z-index: 2;
}

    #prompt {   
        color: rgba(255, 255, 255, 0.9);
        z-index: 1;
        align-self: center;
        text-align: center;
        justify-content: center;
        font-size: 2vw;
        box-sizing: border-box;
        border: .5vw solid rgb(20, 40, 50); 
        background-image: linear-gradient(to right, rgba(10, 20, 30, 0.7), rgba(20, 40, 50,.7), rgba(10, 20, 30, 0.7));
        pointer-events: none; 
        padding: 2vw;
        text-shadow: -1px 1px 1px rgba(0,0,0,.5);
        box-shadow: 0 20px 20px rgba(0,0,0,.5);
    }

/* ////////////////// */
/* buttons and credit */
/* ////////////////// */
#button-container, #credit-container {
    padding: 1vw; 
    top: 0; 
    height: 100vh;
    width: 100%;
    position: absolute; 
    box-sizing: border-box;
    opacity: 0; 
    pointer-events: none; 
    display: flex;
    justify-content: space-between;
    bottom: 0; 
} 

#credit-container {
    z-index: 3; 
}

    #restart, #art-credit, #close {   
        color: rgba(255, 255, 255, 0.9);
        text-align: center;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        box-shadow: 0 20px 20px rgba(0,0,0,.5);
        align-self: flex-end;
        text-shadow: -1px 1px 1px rgba(0,0,0,.5);
        font-size: 1.2vw; 
        background-image: linear-gradient(to right, rgba(10, 20, 30, 0.7), rgba(20, 40, 50,.7), rgba(10, 20, 30, 0.7));
        border: .25vw solid rgb(20, 40, 50); 
        box-shadow: 0 20px 20px rgba(0,0,0,.4);
        padding: .4vw .8vw;
    }

    #restart:hover, #art-credit:hover, #close:hover {
        color: rgba(255, 160, 0, 0.9);
        z-index: 1;
    }

    #credit-text {
        width: 70vw;
        height: 80vh; 
        display: flex; 
        flex-direction: column;
        text-align: center;
        justify-content: space-around; 
        align-self: center; 
        margin: 0 auto;
        z-index: 2;
        background-image: linear-gradient(to right, rgba(10, 20, 30, 0.9), rgba(20, 40, 50, .9), rgba(10, 20, 30, 0.9));
        border: .5vw solid rgb(20, 40, 50); 
        box-shadow: 0 20px 20px rgba(0,0,0,.5);
    }
        a {
            color: rgba(255, 255, 255, 0.9);
            text-shadow: -1px 1px 1px rgba(0,0,0,.5);
            text-decoration-line: unset;
            font-size: 1.6vw; 
        }
 
        a:hover {
            color: rgba(255, 160, 0, 0.9);
        }
        
    #close {
        margin: 0 auto; 
        font-size: 1.6vw;
        padding: .8vw 1.6vw;
    }
/* //////////////////// */
/* start and end screen */
/* //////////////////// */
#start-container, #end-container {
    height: 100vh;
    position: absolute; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    pointer-events: none; 
}

    #title, #winner{
        text-shadow: -1px 1px 1px rgba(0,0,0,.5);
        opacity: 0;  
        color: rgba(255, 255, 255, 0.9);
        z-index: 3;
        text-align: center; 
        flex-direction: row;
        justify-content: flex-end;
        font-size: 15vw;
        justify-content: center; 
        box-sizing: border-box;
        border-top: .75vw solid rgb(20, 40, 50); 
        border-bottom: .75vw solid rgb(20, 40, 50);
        background-image: linear-gradient(to right, rgba(10, 20, 30, 0.7), rgba(20, 40, 50,.7), rgba(10, 20, 30, 0.7));
        width: 100%;
        box-shadow: 0 20px 20px rgba(0,0,0,.5);
    }

    #winner {
        font-size: 10vw;
    }
        .orange {
            color: rgba(255, 160, 0, 0.9);
        }

    #player-count-container{
        pointer-events: none;
        opacity:0; 
        margin: 0 auto;
        margin-top: 1.5%; 
        width: 60%; 
        display:flex;
        border: .5vw solid rgb(20, 40, 50); 
        background-image: linear-gradient(to right, rgba(10, 20, 30, 0.7), rgba(20, 40, 50,.7), rgba(10, 20, 30, 0.7));
        box-shadow: 0 20px 20px rgba(0,0,0,.5);
        z-index: 1;
    }
        #player-count-text, .player-count{
            text-shadow: -1px 1px 1px rgba(0,0,0,.5);
            color: rgba(255, 255, 255, 0.9);
            font-size: 4vw; 
            align-self: center;
            display:flex; 
            flex-direction: column;
            justify-content: center; 
            flex-basis: 17%; 
            text-align: center;
            box-sizing: border-box;
            height: 100%; 
            padding: 1.5% .5%; 
        }
        #player-count-text {
            flex-basis: 50%;
            font-size: 3vw; 
        }
        .player-count:hover{
            border-left: .5vw solid rgb(20, 40, 50);
            border-right: .5vw solid rgb(20, 40, 50);
            background-image: linear-gradient(to right, rgba(10, 20, 30, 0.7), rgba(20, 40, 50,.7), rgba(10, 20, 30, 0.7));
            color: rgba(255, 160, 0, 0.9);
            }

/* /////////// */
/* background */
/* ////////// */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-size: cover; 
    background-position: center; 
    z-index: -1;
}

/* //////// */
/* dynamic */
/* /////// */
@media (max-width: 800px){
    #restart, #art-credit, #close {
        font-size: 9.5px; 
    }
    #prompt {
        font-size: 17px; 
    }
    #credit-text {
        height: 420px; 
    }
}

@media (max-width: 740px){
  
    .hand-card, .deck-card {
        width: 38px;
    }
    .hand-card {
        margin-right: -15px; 
    }
    .hand {
        padding-right: 15px; 
    }
}

@media (max-width: 580px){
    a, .score {
        font-size: 9px; 
    }
}
